name: Terraform Apply (Prod firewall)

on:
  workflow_dispatch:
    inputs:
      working_directory:
        description: "Terraform working directory (sonarqube | prometheus | prod)"
        required: true
        type: choice
        options:
          - sonarqube
          - prometheus
          - prod

jobs:
  terraform:
    name: Apply Terraform
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Terraform Apply
        working-directory: ./terraform/envs/${{ inputs.working_directory }}

        env:
          # Github Secrets
          TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          TF_VAR_aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}

          # GitHub Variables
          TF_VAR_aws_region: ${{ vars.AWS_REGION }}
          TF_VAR_environment: ${{ inputs.working_directory }}
          TF_VAR_instance_type: ${{ vars.INSTANCE_TYPE }}
          TF_VAR_root_volume_type: ${{ vars.ROOT_VOLUME_TYPE }}
          TF_VAR_root_volume_size: "${{ vars.ROOT_VOLUME_SIZE }}"
          TF_VAR_delete_on_termination: "${{ vars.DELETE_ON_TERMINATION }}"
          TF_VAR_ami_owners: '["${{ vars.AMI_OWNERS }}"]'
          TF_VAR_ami_name_pattern: ${{ vars.AMI_NAME_PATTERN }}
          TF_VAR_ami_virtualization_type: ${{ vars.AMI_VIRTUALIZATION_TYPE }}
          TF_VAR_ami_architecture: ${{ vars.AMI_ARCHITECTURE }}
          TF_VAR_tags: '{"Project":"ec2","Environment":"${{ inputs.working_directory }}","ManagedBy":"terraform","Owner":"Security-Team"}'

        run: |
          terraform init
          terraform validate
          terraform plan
          terraform apply -auto-approve